/* 
FONTS
font-family: 'Josefin Sans', sans-serif;
font-family: 'Quicksand', sans-serif;
COLORS
yellow #F5CB5C
black #242423
*/

body {
	background-color: #E8EDDF;
	min-width: 1000px;
	color: #242423;
}

em {
	font-weight: 900;
}

section {
	height: 100vh;
	width: 100vw;
	min-width: 1000px;
	margin: auto;
}

section hr {
	background-color: #242423;
	display: inline-block;
	height: 2px;
	width: 70vw;
	min-width: 1000px;
	border: none;
	margin-top: 8vh;
}