#accueil {
	background-color: #FBFF12;
}

#accueil img {
	height: 80vh;
	position: absolute;
	top: calc(50vh - 40vh);
}

#accueil h1 {
	color: #191716;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 3em;
	text-align: center;
	display: inline-block;
	position: absolute;
	top: 44vh;
	right: 15vw;
	letter-spacing: 0.4em;
	min-width: 53vw;
}

#accueil hr{
	background-color: rgba(25, 23, 22, 1);
	border: none;
	width: 53vw;
	height: 2px;
	position: absolute;
	top: 49.1vh;
	right: 15vw;
}

#accueil h2 {
	position: absolute;
	display: inline-block;
	text-align: center;
	font-size: 2em;
	font-weight: 700;
	top: 52vh;
	right: 15vw;
	min-width: 53vw;
}

#accueil a {
	text-decoration: none;
	color: rgba(25, 23, 22, 0.4);
	transition: 1s ease;
}

#accueil a:hover {
	color: rgba(25, 23, 22, 1);
}