body {
	font-family: 'Quicksand', sans-serif;
	background-color: #FBFF12;
}

header {
	display: inline-block;
	position: fixed;
	left: 14.7vw;
}

header img {
	height: 90px;
	opacity: 0.4;
	transition: 1s ease;
}

header img:hover {
	opacity: 1;
}

nav {
	position: fixed;
	top: 28px;
	right: 14vw;
}

nav a {
	text-decoration: none;
	color: rgba(25, 23, 22, 0.4);
	padding: 10px;
	transition: 1s ease;
}

nav a:hover {
	color: rgba(25, 23, 22, 1);
	text-decoration: overline;
}

nav ul {
	display: flex;
	justify-content: space-between;
	min-width: 600px;
}

nav li {
	color: #191716;
	margin: 20px;
	font-size: 1.6em;
}

nav li:hover {
	color: #191716;
}

section {
	height: 100vh;
}
