
#profil {
	background-color: #FBFF12;

}

#profil #description {
	width: 30vw;
	display: inline-block;
	position: absolute;
	text-align: justify;
	top: 214vh;
	right: 14.5vw;
}

#profil hr {
	border: none;
	width: 70vw;
	height: 2px;
	background-color: rgba(25, 23, 22, 1);
	position: relative;
	top: 10vh;
}

#profil #description p {
	font-size: 1.2em;
}

#profil #skills {
	width: 30vw;
	display: inline-block;
	position: relative;
	top: 12vh;
	left: 14.5vw;
}

#profil h3 {
	font-size: 2em;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 20px
}

#profil h4 {
	font-size: 1.2em;
	font-weight: 700;
}

#profil #skills ol {
	font-size: 1.2em;
	font-weight: 700;
}

#profil #skills li {
	margin-bottom: 10px;
}

#profil #skills p {
	font-size: 1.2em;
	display: inline-block;
	margin-bottom: 20px;
}

#profil strong {
	font-weight: 700;
}